@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}


body {
  background: #0e0e14;
  font-family: 'General Sans', sans-serif;
}

@layer components {
  .c-space { padding-left: 1.25rem; padding-right: 1.25rem; }
  @screen sm {
    .c-space { padding-left: 2.5rem; padding-right: 2.5rem; }
  }
  
  .head-text {
    @apply text-3xl font-semibold text-gray_gradient;
  }

  @screen sm {
    .head-text { @apply text-4xl; }
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 relative z-20;
  }

  @screen sm {
    .nav-ul { @apply flex-row; }
  }

  @screen md {
    .nav-ul { @apply gap-6; }
  }

  .nav-li {
    @apply text-neutral-400 font-generalsans py-2;
  }

  .nav-li:hover { @apply text-white; }

  @media (max-width: 639px) {
    .nav-li { @apply w-full rounded-md px-5; }
    .nav-li:hover { @apply bg-black-500; }
  }

  .nav-li_a {
    @apply text-lg hover:text-white transition-colors;
  }

  @screen md { .nav-li_a { @apply text-base; } }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto block;
  }

  @screen sm { .nav-sidebar { @apply hidden; } }

  .text-gray_gradient {
    background: linear-gradient(90deg, #BEC1CF 60%, #D5D8EA 60%, #D5D8EA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300  transition-all active:scale-95 text-white mx-auto;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  /* hero section */
  .hero_tag {
    @apply text-center text-3xl font-generalsans font-black !leading-normal;
  }

  @screen sm { .hero_tag { @apply text-4xl; } }
  @screen md { .hero_tag { @apply text-5xl; } }
  @screen xl { .hero_tag { @apply text-6xl; } }

  /* about section */
  .grid-container {
    @apply w-full h-full border border-black-300 bg-black-200 rounded-lg p-4 flex flex-col gap-5;
  }

  @screen sm { .grid-container { @apply p-7; } }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white font-generalsans;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base font-generalsans;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  /* clients section */
  .client-container {
    @apply grid grid-cols-1 gap-5 mt-12;
  }

  @screen md { .client-container { @apply grid-cols-2; } }

  .client-review {
    @apply rounded-lg p-5 col-span-1 bg-black-300 bg-opacity-50;
  }

  @screen md { .client-review { @apply p-10; } }

  .client-content {
    @apply flex flex-col justify-between items-start gap-5 mt-7;
  }

  @screen lg { .client-content { @apply flex-row items-center; } }

  /*  work experience section */
  .work-container {
    @apply grid grid-cols-1 gap-5 mt-12;
  }

  @screen lg { .work-container { @apply grid-cols-3; } }

  .work-canvas {
    @apply col-span-1 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content {
    @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5 transition-all ease-in-out duration-500 cursor-pointer rounded-lg px-2.5;
  }

  .work-content_container:hover { @apply bg-black-300; }

  @screen sm { .work-content_container { padding-left: 1.25rem; padding-right: 1.25rem; } }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black-300;
  }

  .group:hover .work-content_bar { @apply bg-black-500; }
  .group:last-child .work-content_bar { @apply hidden; }

  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 px-5 mt-12;
  }

  @screen sm { .contact-container { @apply px-10; } }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}